@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    max-height: 100vw;
    background-color: #19a1ae;
    color: #6b7082;
    margin: 0;
    padding: 0;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: url('./images/background.svg') no-repeat center center/cover;
}

.container {
    width: 350px;
    height: auto;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
}

.main_img {
    width: auto;
    height: 140px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.info {
    position: relative;
    background-color: #fff;
    margin-top: 0;
    padding-top: 70px;
    padding-bottom: 5px;
}

.info img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40%;
    border-radius: 50%;
    border: 5px solid #fff;
}

.user_name {
    display: inline;
    font-size: 18px;
    color: #2e3349;
    line-height: normal;
    font-weight: 600;
    margin-right: 5px;
}

.age {
    font-size: 18px;
}

.location {
    font-size: 14px;
    font-weight: 400;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
    height: 50px;
    padding: 0;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 20px;
}

.stat h2 {
    font-size: 18px;
    color: #2e3349;
    font-weight: 600;
    margin-bottom: 5px;
}

.stat span {
    bottom: 2px;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 5px;
}

.attribution {
    font-size: 12px;
    text-align: center;
    color: #2e3349;
}

.attribution a {
    color: red;
    transition: .3s ease;
}

.attribution a:hover {
    color: blue;
}

@media(max-width:375px) {
    .container {
        width: 95%;
    }

    .main_img {
        width: 100%;
    }
}